* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


html {
   height: 100%;
 }

body {
   min-height: 100%;
   display: grid;
   grid-template-rows: 8.4rem 1fr auto;
   background: #ffffff;
   color: #111111;
   font-family: 'Raleway', Arial, Helvetica, sans-serif;
   font-size: 16px;
}

header,
main {
   margin-bottom: 4em;
}

section {
   border-bottom: 1px solid #ebebeb;
   padding-bottom: 4em;
   margin-bottom: 4em;
}

section:last-of-type {
   border-bottom: 0;
   padding-bottom: 0;
   margin-bottom: 0;
}

img {
   width: 100%;
   height: auto;
}

label {
   font-family: 'Dosis', Arial, Helvetica, sans-serif;
   font-weight: 500;
   margin-bottom: .5em;
   display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
   padding: .5em 1em;
   border-radius: 4px;
   border: 1px solid #d1d1d1;
   margin-bottom: 1em;
}



/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
   font-family: 'Dosis', Arial, Helvetica, sans-serif;
   line-height: 1.2;
   font-weight: 700;
   margin-bottom: .3em;
}

h1 {
   font-size: 2.5em;
}

h2 {
   font-size: 2em;
}

h3 {
   font-size: 1.3em;
}

h4 {
   font-size: 1.2em;
}

h5 {
   font-size: 1.15em;
   text-transform: uppercase;
}

h6 {
   font-size: 1em;
   letter-spacing: .25em;
}

p {
   line-height: 1.4;
   margin-bottom: .5em;
}

a,
a:visited {
   text-decoration: none;
   color: inherit;
   border-bottom: 1px dotted #444;
}

a:hover,
a:active {
   color: #3c5be0;
}

ul,
ol {
   padding-left: 1.5em;
}

li {
   padding-bottom: .3em;
}

.error,
.success {
   padding: .5em;
   border-radius: 4px;
}

.error {
   background-color: #c94f4f;
   color: #f2f2f2;
}

.success {
   background-color: #6cd04d;
   color: #111111;
}



/* BUTTONS */

.btn,
.btn:visited {
   border: 2px solid #3c5be0;
   background: #3c5be0;
   color: #ffffff;
   padding: .75em 1em;
   display: inline-block;
   font-family: 'Dosis', Arial, Helvetica, sans-serif;
   font-weight: 500;
   border-radius: 4px;
   cursor: pointer;
}

.btn-small,
.btn-small:visited {
   padding: .5em .75em;
}

.btn:hover,
.btn:active {
   background: transparent;
   color: #3c5be0;
   transition: all .2s ease-in;
}

.btn-ghost,
.btn-ghost:visited {
   border: 2px solid #718af1;
   background: transparent;
   color: #718af1; 
}

.btn-ghost:hover,
.btn-ghost:active {
   background: #718af1;
   color: #fff;
}

.btn-delete,
.btn-delete:visited {
   border: 2px solid #c94f4f;
   background-color: #c94f4f;
}

.btn-delete:hover,
.btn-delete:active {
   background: transparent;
   color: #c94f4f;
}




.wrap {
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 2%;
}

.narrow {
   max-width: 720px;
}


.blog main .wrap,
.admin main .wrap {
   display: grid;
   grid-template-columns: 2fr 1fr;
   column-gap: 4em;
}






.site-header {
   background-color: #ffffff;
   border-bottom: 1px solid #ebebeb;
}

.logo img {
   width: 100%;
   max-height: 65px;
}






.primary-navigation {
   display: flex;
   justify-content: space-between;
   font-family: 'Dosis', arial, tahoma, sans-serif;
   font-weight: 500;
}

.primary-navigation ul {
   display: flex;
   list-style: none;
   padding-left: 0;
}

.primary-navigation a,
.primary-navigation a:visited {
   border-bottom: 0;
}

.primary-navigation ul li a {
   display: inline-block;
   color: #444444;
   padding: 1.6em 1.5em;
   margin: 0;
   border-right: 1px solid #ebebeb;
}

.primary-navigation ul li:first-of-type a{
   border-left: 1px solid #ebebeb;
}

.primary-navigation ul li a:hover,
.primary-navigation ul li a:active {
   background-color: #718af1;
   color: #ffffff;
   transition: all .2s ease-in;
}






.presentation .wrap {
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.presentation h2 {
   font-size: 2.5em;
}

.presentation .text {
   align-self: center;
   margin-right: 2em;
}

.presentation .text p {
   margin-bottom: 1em;
}







.fp-2 {
   display: grid;
   grid-template-columns: 2fr 1fr;
   column-gap: 3em;
}





.featured-post {
   padding-bottom: 1em;
}

.featured-post a {
   display: inline-block;
   border-bottom: none;
}

.featured-post a:hover h3 {
   color: #3c5be0;
}

.meta {
   color: #444;
   font-size: .85em;
   font-style: italic;
   padding-bottom: .5em;
}

.featured-post p {
   margin-bottom: 0;
   padding-bottom: .5em;
}

.featured-post .read-more {
   color: #3c5be0;
   font-weight: 600;
}


.sidebar {
   margin-top: 3em;
   right: 0;
   top: 0;
}

.sidebar > div {
   margin-bottom: 2em;
}



.login-form,
.register-form {
   border: 1px solid #ebebeb;
   text-align: center;
   border-radius: 4px;
   padding: 2em 1em;
   max-width: 400px;
   margin: 0 auto;
}

.login-form h2 {
   margin-bottom: .5em;
}

#password-requirements {
   display: none;
   width: 55%;
   padding: 2%;
   text-align: left;
   margin: 0 auto 1em auto;
   font-size: .8em;
}

.invalid {
   color: #ca2929;
}

.valid {
   color: #469b2c;
}

.account-check {
   font-size: .9em;
   color: #444444;
   text-align: center;
   margin-top: 1em;
}

.bio {
   margin-bottom: 2em;
}


.site-footer {
   color: #444;
   font-size: .8em;
   background-color: #f2f2f2;
   padding: 4em 0;
}

.site-footer .grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr) 2fr;
   column-gap: 2em;
}


/* MEDIA QUERIES */
@media (max-width: 800px) {
   
   .wrap {
      padding: 0 3%;
   }
}

@media (max-width: 720px) {

   body {
      grid-template-rows: 7.35rem 1fr auto;
   }

   .wrap {
      padding: 0 5%;
   }

   .primary-navigation ul li a {
      padding: 1.1em .8em;
   }

   .logo img {
      max-height: 50px;
   }
   
   .presentation .wrap {
      grid-template-columns: 3fr 1fr;
   }
   


}

@media (max-width: 620px) {

   body {
      grid-template-rows: auto 1fr auto;
   }



   .site-header {
      border-bottom: 0;
   }

   .site-header .wrap {
      padding: 0;
   }

   .primary-navigation {
      flex-direction: column;
      text-align: center;
   }

   .primary-navigation ul {
      flex-direction: column;
   }

   .primary-navigation ul li:first-of-type a {
      border-left: none;
      border-top: 1px solid #f2f2f2;
   }

   .primary-navigation ul li a,
   .primary-navigation ul li a:visited {
      border-right: none;
      border-bottom: 1px solid #f2f2f2;
      width: 100%;
   }

   .primary-navigation ul li {
      padding-bottom: 0;
   }

   .logo img {
      width: auto;
      max-height: 125px;
   }

   .presentation .wrap {
      grid-template-columns: 1fr;
   }

   .presentation .text {
      text-align: center;
   }

   .presentation .image {
      width: 75%;
      margin: 4em auto 0 auto;
   }

   .blog main .wrap, 
   .admin main .wrap,
   .fp-2 {
      grid-template-columns: 1fr;
      row-gap: 2em;
   }

   .sidebar {
      margin-top: 0;
   }

   .site-footer .grid {
      grid-template-columns: 1fr;
      row-gap: 1em;
   }
}